.hero-img {
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.hero-title {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.hero-title h1 {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
}

.hero-title h2 {
  font-size: 1.5rem;
}

img {
  margin-top: 3rem;
  width: 85vw;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 2rem;
  /* background-color: var(--hero-input-bg); */
  color: rgb(120, 118, 118);
  display: block;
}

input::placeholder {
  color: var(--hero-input-color);
}

input:focus-visible {
  outline: none;
}

button {
  background-color: rgb(255 255 255);
  border-radius: 20px;
  padding: 10px;
  font-weight: bolder;
  border: 0;
  cursor: pointer;
}

.spinner {
  margin-top: 2.5rem;
  height: 0;
  width: 48px;
}

.spinner div {
  width: 16px;
  height: 16px;
  background: rgb(255 255 255);
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out both;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.spinner div:nth-child(1) {
  animation-delay: -0.32s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.16s;
}

.hero-container {
  height: 100vh;
  justify-content: center;
}

@media (min-width: 500px) {
  img {
    width: 100%;
    height: 50vh;
    margin-top: 3rem;
  }
  .hero-title {
    margin-top: 3rem;
    text-align: initial;
  }
}

@media (min-width: 800px) {
  img {
    margin-left: 2rem;
  }

  .hero-container {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0;
  }

  form {
    justify-content: initial;
    flex-direction: row;
    margin-top: 2.5rem;
  }

  input[type="text"] {
    margin-bottom: 0;
  }

  .spinner {
    margin-top: 0;
  }
}
