<section>
  <div class="flex w-full justify-end">
    @if (userData()) {
    <img
      class="btn-profile"
      mat-button
      [matMenuTriggerFor]="menu"
      mat-raised-button
      [matTooltip]="userData()?.username"
      src="assets/logged-in-profile.svg"
      alt="Profile"
    />
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEditProfile()">Edit Profile</button>
      <button mat-menu-item>Saved Recipes</button>
      <button mat-menu-item (click)="onLogOut()">Log-Out</button>
    </mat-menu>
    } @else {
    <img
      (click)="onCredentials()"
      class="btn-login-register"
      mat-raised-button
      matTooltip="Log-In \ Register"
      src="assets/chef-hat.svg"
      alt="Log-In / Register"
    />
    }
  </div>
</section>

@if (isCredentialOpen()) {
<app-login (closeCredentials)="onCloseCredentials()" />
}
