section {
  top: 2.5rem;
  position: sticky;
  width: 100%;
  height: 0;
}

img {
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5rem;
}

.btn-login-register {
  filter: var(--nav-btn-color);
}

.btn-profile {
  height: 3rem;
}
