<mat-dialog-content>
  <h2>Edit Profile</h2>
  <form [formGroup]="editProfile" (ngSubmit)="onEditProfile()">
    <div class="form-inputs flex flex-col">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="btn-register flex justify-center my-1">
      @if (isProfileEdited()) {
      <mat-spinner [diameter]="48"></mat-spinner>
      } @else {
      <button class="btn-submit button" mat-flat-button>Save Profile</button>
      }
    </div>
  </form>
  <div class="validator-container">
    @if (emailIsInvalid) {
    <p class="text-center">Enter a valid email</p>
    }
  </div>
</mat-dialog-content>
