/* .match-ingredients {
  height: 1.5rem;
  filter: var(--green-filter);
} */

.missed-ingredients {
  filter: var(--red-filter);
}

/* .recipe {
  background-color: #212121;
  border-radius: 1rem;
  transition: background-color, 0.3s;
  min-width: 400px;
}

.recipe:hover {
  background-color: #212121c9;
}

.recipe-img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
} */

/* .ingredients {
  height: 1.5rem;
} */

ol {
  padding-left: 1rem;
  text-transform: capitalize;
  width: auto;
}

li {
  margin-bottom: 0.5rem;
}

/* @media (min-width: 500px) {
  .recipe {
    min-width: fit-content;
  }

  .recipe-img {
    max-height: 231px;
  }
}

@media (min-width: 768px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* .masonry-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
} */

/* .recipe-column {
  flex: 1;
} */

.button {
  max-width: 200px;
}

.recipe-spinner {
  height: 48px;
}

/* .favorite-icon {
  top: 1rem;
  right: 1rem;
  background-color: black;
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
}

.filled-heart {
  color: red;
}

.empty-heart {
  color: grey;
} */
