<section class="recipes-container">
  @if (recipes()) { @for (recipe of recipes(); track recipe.id) {

  <h1>{{ recipe.title }}</h1>
  }} @if (recipes()?.length === 0) {
  <h1>No recipes was found try again!</h1>
  }
  <div class="recipe">
    <img class="recipe-img" src="assets/demo-recipe.svg" alt="recipe #1" />
    <h1 class="text-center">Spicy Chili w Boneless Beef Short Ribs</h1>
    <h2 class="text-center mb-1-5">Ingredients</h2>
    <div class="flex space-around">
      <div>
        <div class="flex justify-center">
          <img
            class="match-ingredients ingredients"
            src="assets/ingredients-mix.svg"
            alt="match ingredients"
          />
        </div>
        <ol>
          <li>onion (1)</li>
        </ol>
      </div>
      <div>
        <div class="flex justify-center">
          <img
            class="missed-ingredients ingredients"
            src="assets/ingredients-mix.svg"
            alt="match ingredients"
          />
        </div>
        <ol>
          <li>Garlic (2)</li>
        </ol>
      </div>
    </div>
  </div>
</section>
