<section #recipesSection class="masonry-container">
  @if (recipeChunks()) { @for (chunk of recipeChunks(); track $index) {
  <div class="recipe-column">
    @for (recipe of chunk; track recipe.id) {
    <div class="recipe mb-1 flex flex-col space-between">
      <div class="relative">
        <img
          class="recipe-img"
          [src]="recipe.image ? recipe.image : 'assets/demo-recipe.svg'"
          [alt]="recipe.title"
        />

        @if (authService.isLoggedIn()) {
        <mat-icon
          class="favorite-icon absolute"
          [ngClass]="isFavorited(recipe.id) ? 'filled-heart' : 'empty-heart'"
          [matTooltip]="isFavorited(recipe.id) ? 'Remove' : 'Save'"
          (click)="toggleFavoriteRecipe(recipe.id)"
        >
          {{ isFavorited(recipe.id) ? "favorite" : "favorite_outline" }}
        </mat-icon>
        }
      </div>
      <h1 class="text-center mx-1-5 mb-2">{{ recipe.title }}</h1>
      <div class="flex flex-col space-around">
        <ol class="w-full ml-1-5 mr-1-5">
          @for (usedIngredient of recipe.usedIngredients; track $index) {
          <li>
            <div class="flex space-between items-baseline">
              <div>
                {{ usedIngredient.name }} ({{
                  roundDecimal(usedIngredient.amount)
                }}
                @if (usedIngredient.unit) {, {{ usedIngredient.unit }}})
              </div>
              <img
                class="match-ingredients ingredients"
                src="assets/ingredients-mix.svg"
                alt="match ingredient"
              />
            </div>
          </li>
          } @for (unusedIngredient of recipe.missedIngredients; track $index) {
          <li>
            <div class="flex space-between items-baseline">
              {{ unusedIngredient.name }} ({{
                roundDecimal(unusedIngredient.amount)
              }}@if (unusedIngredient.unit){, {{ unusedIngredient.unit }}})
              <img
                class="missed-ingredients ingredients"
                src="assets/ingredients-mix.svg"
                alt="missed ingredient"
              />
            </div>
          </li>
          }
        </ol>
        <div class="flex justify-center">
          @if (!isFetchingPreparation[recipe.id] &&
          !recipePreparation[recipe.id]) {
          <button
            mat-flat-button
            class="my-1"
            (click)="fetchRecipePreparation(recipe.id)"
          >
            Preparation
          </button>
          } @if (isFetchingPreparation[recipe.id]) {
          <div class="recipe-spinner flex items-center">
            <mat-spinner [diameter]="48"></mat-spinner>
          </div>
          } @if (recipePreparation[recipe.id]) {

          <h3
            class="mx-1"
            id="recipe-instructions"
            [innerHTML]="recipePreparation[recipe.id]"
          ></h3>
          }
        </div>
      </div>
    </div>
    }
  </div>
  } }
</section>
