.match-ingredients {
  height: 1.5rem;
  filter: brightness(0) saturate(100%) invert(85%) sepia(86%) saturate(1577%)
    hue-rotate(130deg) brightness(95%) contrast(89%);
}

.missed-ingredients {
  filter: brightness(0) saturate(100%) invert(74%) sepia(88%) saturate(6532%)
    hue-rotate(338deg) brightness(89%) contrast(103%);
}

.recipe {
  background-color: #212121;
  border-radius: 1rem;
  transition: background-color, 0.3s;
  min-width: 400px;
}

.recipe:hover {
  background-color: #212121c9;
}

.recipe-img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.ingredients {
  height: 1.5rem;
}

ol {
  padding-left: 1rem;
  text-transform: capitalize;
  width: auto;
}

li {
  margin-bottom: 0.5rem;
}

@media (min-width: 500px) {
  .recipe {
    min-width: fit-content;
  }

  .recipe-img {
    max-height: 231px;
  }
}

@media (min-width: 768px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.masonry-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.recipe-column {
  flex: 1;
}

.button {
  max-width: 200px;
}
