<section (click)="close()" class="backdrop full-screen"></section>

<section class="login-form fixed">
  @if (openRegister()) {
  <app-register (close)="close()" (switchForm)="switchToLogin()" />
  } @else {
  <div class="relative">
    <img
      (click)="close()"
      class="close-btn absolute"
      src="assets/cross.svg"
      alt="close btn"
    />
    <h2>Log in to your account</h2>
    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <div class="form-inputs mb-2 flex flex-col">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Ex. email@gmail.com"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
      <div class="btn-login flex justify-center my-1">
        @if (isLogin()) {
        <mat-spinner [diameter]="48"></mat-spinner>
        } @else {
        <button class="btn-submit button" mat-flat-button>Log In</button>
        }
      </div>
    </form>
    <div class="validator-container">
      @if (emailIsInvalid) {
      <p class="text-center">Enter a valid email or password</p>
      }
    </div>
    <p>
      Don't have an account
      <button class="btn-link" type="button" (click)="openRegisterForm()">
        Register
      </button>
    </p>
  </div>
  }
</section>
