<div class="relative">
  <img
    (click)="close.emit()"
    class="close-btn absolute"
    src="assets/cross.svg"
    alt="close btn"
  />
  <h2>Create your account</h2>
  <form [formGroup]="formRegister" (ngSubmit)="onRegister()">
    <div class="form-inputs flex flex-col">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          [type]="hide() ? 'password' : 'text'"
          matInput
          type="password"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="btn-register flex justify-center my-1">
      @if (isRegister()) {
      <mat-spinner [diameter]="48"></mat-spinner>
      } @else {
      <button class="btn-submit button" mat-flat-button>Register</button>
      }
    </div>
  </form>
  <div class="validator-container">
    @if (emailIsInvalid && nameIsInvalid && passwordIsInvalid) {
    <p class="text-center">Fill out all required fields</p>
    } @if (formRegister.controls.email.hasError('duplicateEmail')) {
    <p class="text-center">Email address is already in use.</p>
    }
  </div>
  <p>
    Have an account?
    <button class="btn-link" type="button" href="#" (click)="switchForm.emit()">
      Log in now
    </button>
  </p>
</div>
